<html ng-app="ngKatApp">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a ng-href="#">Home</a></li>
          <li><a ng-href="#/about">About</a></li>
          <li><a ng-href="#">Contact</a></li>
          <li><a ng-href="#/customers">Customers</a></li>
          <li><a ng-href="#/products">Products</a></li>
        </ul>
        <h3 class="text-muted">Life As It Happens</h3>
      </div>
<body>
	



</body>
</html>
<div class="footer">
  <p><a href="http://kat5sc.com"><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</a></p>
</div>