<html ng-app="ngKatApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<div class="header">
        <ul class="nav nav-pills pull-right">
          <li class=""><a ng-href="#">Home</a></li>
          <li><a ng-href="#/about">About</a></li>
          <li><a ng-href="#/contact">Contact</a></li>
          <li><a ng-href="#/customers">Customers</a></li>
          <li><a ng-href="#/products">Products</a></li>
          <li><a ng-href="#/practice">Practice</a></li>
          <li><a ng-href="#/newcustomer">New Customers</a></li>
        </ul>
        <h3 class="text-muted">Life As It Happens</h3>
      </div>

      <div ng-controller="MainCtrl">
		<br />
	<h3>Customer Names</h3>
	<!-- <input type="text" ng-model="name" /> {{name}}
 -->	<br />

	<!-- <ul>
		<li ng-repeat="cust in customers | orderBy:'name'">{{ cust.name | uppercase }}</li> 
	</ul> -->

	<input type="text" ng-model="nameText" />
	<ul>
		<li ng-repeat="cust in customers | filter:nameText | orderBy: 'name'">
			{{cust.name}} - {{cust.city}}</li>
	</ul>
	
	</div>
</body>
</html>
<div class="footer">
  <p><a href="http://kat5sc.com"><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</a></p>
</div>