<html ng-app="ngKatApp">
<div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a ng-href="#">Home</a></li>
          <li><a ng-href="#/about">About</a></li>
          <li><a ng-href="#/contact">Contact</a></li>
          <li><a ng-href="#/customers">Customers</a></li>
          <li><a ng-href="#/products">Products</a></li>
          <li><a ng-href="#/practice">Practice</a></li>
        </ul>
        <h3 class="text-muted">Life As It Happens</h3>
      </div>
<div class="jumbotron">
  <h1>Art Shop</h1>
  <p class="lead">
    <img src="images/oneredballoonbythesea.jpg" alt="THEKACKIEPROJECT"><br>
  </p>
  <p><a class="btn btn-lg btn-default" ng-href="#/products">LIFE AS YOU SEE IT</a></p>
    <span class="glyphicon glyphicon-eye-open"></span></a></p>
</div>


    <li ng-repeat="cust in customers"> {{ cust.name }} - {{ cust.city}}</li>

  </ul>
  <br />
    
  
   
   
  <ul>
    <li ng-repeat="cust in customers | filter:nameText | orderBy: 'name'">
      {{ cust.name }} - {{ cust.city }}</li>

  </ul>
  
  <br />

</body>
</html>
<div class="footer">
  <p><a href="http://kat5sc.com"><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</a></p>
</div>