<html ng-app="ngKatApp">
<head>
	<meta charset="UTF-8">
	<title>New Customers</title>
</head>
<body>
<div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a ng-href="#">Home</a></li>
          <li><a ng-href="#/about">About</a></li>
          <li><a ng-href="#/contact">Contact</a></li>
          <li><a ng-href="#">Customers</a></li>
          <li><a ng-href="#/products">Products</a></li>
          <li><a ng-href="#">New Customers</a></li>

        </ul>
        <h3 class="text-muted">Life As It Happens</h3>
      </div>


	
</body>
</html>