<html ng-app="ngKatApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a ng-href="#/main">Home</a></li>
          <li><a ng-href="#/about">About</a></li>
          <li><a ng-href="#/contact">Contact</a></li>
          <li><a ng-href="#/customers">Customers</a></li>
          <li><a ng-href="#">Products</a></li>
        </ul>
        <h3 class="text-muted">Life As It Happens</h3>
      </div>
	<div class='container'
		ng-init="products=[{name:'Ball of Fire',price: '$2000'}, {name:'Fiery Umbrella',price: '$3000'}, {name:'Kissing The Lipless',price: '$1000'}, {name:'Lonely Queen',price: '$5000'}]">

	<div class="container" ng-controller="ProductsCtrl">
	<br />
	<h3>Art Pieces</h3>
		<br/>

	<input type="text" ng-model="nameText" />
	<ul>
		<li ng-repeat="product in products | filter:nameText | orderBy: 'name'">
			{{product.name}} - {{product.price}} </li>
	</ul>
	
	</div>
	<div class="container"
		<br/>
		<h2>Ball of Fire</h2>
		<li><img src="images/balloffiremodel.jpg"></li>
		<br/>
		<h2>Fiery Umbrella</h2>
		<li> <img src="images/fieryumbrellamodel.jpg"></li>
		
		<br/>
		<h2>Kissing the Lipless</h2>
		<li> <img src="images/kissingthelipless.jpg"></li>
		<br/>
		<h2>The Lonely Queen</h2>
		<li> <img src="images/lonelyqueen.jpg"></li>
		<br/>
	
</body>
</html>
<div class="footer">
  <p><a href="http://kat5sc.com"><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</a></p>
</div>